@use '../variables/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: $text-color;
  main {
    padding: $spacing;
    max-width: 1200px;
    margin: auto;
  }
}
